Source: ros-humble-crazyflie-py
Section: misc
Priority: optional
Maintainer: Wolfgang Hönig, Kimberly McGuire <hoenig@tu-berlin.de>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-humble-ament-copyright <!nocheck>, ros-humble-ament-flake8 <!nocheck>, ros-humble-ament-pep257 <!nocheck>, ros-humble-crazyflie-interfaces, ros-humble-rclpy, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-crazyflie-py
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-crazyflie-interfaces, ros-humble-rclpy, ros-humble-ros-workspace
Description: Simple Python Interface for Crayzswarm2
