Source: ros-lyrical-crazyflie-examples
Section: misc
Priority: optional
Maintainer: "Wolfgang Hönig" <hoenig@tu-berlin.de>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-pytest <!nocheck>, ros-lyrical-ament-cmake-python, ros-lyrical-ament-copyright <!nocheck>, ros-lyrical-ament-flake8 <!nocheck>, ros-lyrical-ament-pep257 <!nocheck>, ros-lyrical-crazyflie-py, ros-lyrical-geometry-msgs, ros-lyrical-nav-msgs, ros-lyrical-rclpy, ros-lyrical-sensor-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/crazyflie_examples/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-crazyflie-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-crazyflie-py, ros-lyrical-geometry-msgs, ros-lyrical-nav-msgs, ros-lyrical-rclpy, ros-lyrical-sensor-msgs, ros-lyrical-tf-transformations, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Description: Examples for the Crazyswarm2 ROS stack
